body {
  background-color: #000;
  color: rgb(51, 255, 51);
}

.footer {
  background-color: #000;
}

.foot p {
  color: #33ff33;
  font-weight: bold;
}

.social-icons a {
  color: #33ff33;
  /* terminal-style green */
  margin: 0 12px;
  font-size: 24px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00ffff;
  text-shadow: 0 0 8px #00ffff;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
